* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Poppins" sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    --default-color: #ffffff;
    --heading-color: #ffffff;
    color: var(--default-color);
    background-color: var(--default-color);
    padding: 20px 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px rgba(2, 2, 6, 0.6);
    z-index: 997;
}

.header .logo {
    line-height: 1;
    max-height: 2rem;
}

.header .logo img {
    max-height: 13rem;
}

.login-container {
    margin-top: 60px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(1, 1, 3, 0.2);
    width: 350px;

}

.login-container .logo {
    line-height: 1;
    max-height: 5rem;
}

.login-container .logo img {
    max-height: 13rem;
    right: 2rem;
}




.login-container .hover a {
    text-decoration: none;
    font-style: italic;
    color: #2587ff;
    font-size: 15px;
}

.login-container .hover a:hover {
    text-decoration: underline;
    color: #044ba2;
}

.login-container a {
    text-decoration: none;
    margin-bottom: 2rem;
    color: #fff;
}

.login-container a:hover {
    text-decoration: underline;
    color: #fff;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}



@media (max-width: 600px) {
    .header .logo {
        line-height: 1;
        max-height: 2rem;
    }
    
    .header .logo img {
        max-height: 11rem;
        margin-right: 30px;
    }

    

    .login-container {
        width: 90%;
        padding: 15px;
    }

    .login-container img {
        margin-left: 0;
        display: block;
        margin: 0 auto;
    }

    .login-container h2 {
        font-size: 20px;
    }
}


/* body {
    background-color: #f0f2f5;
}
.login-form {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 0.5s ease-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */
